.form-search-bai-viet {
  display: flex;
  float: right;

  .form-input-bai-viet {
    width: 250px;
  }

  .button-search-bai-viet {
    padding-left: 15px;
  }

}

.color-title-danger {
  color: red;
}

.text-center-in-form {
  text-align: center;
}

.form-thao-tac {
  padding-left: 22px;
  padding-right: 22px;
}

.width-form-select {
  width: 240px;
  margin-right: 15px;
}

.form-select-inline {
  display: flex;
}

.form-float-right {
  float: right;
}

.remove-margin-top {
  margin-top: 0px;
}

.can-giua-theo-chieu-doc {
  display: flex;
  justify-content: space-between;
}

.data-link {
  color: #C76932;
}
