<div class="row">
  <div class="col-12">
    <div class="content-header">Danh sách hồ sơ khai thác cần phê duyệt</div>
  </div>
</div>
<!-- Custom Checkbox Datatables -->
<section id="ngx-datatable-custom-checkbox">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <fieldset class="form-group">
                  <div class="form-row">
                    <div class="col-md-3">
                      <label for="invalid-state">Mã hồ sơ: </label>
                      <input id="ngx-filter-ref" [(ngModel)]="maHoSo" class="form-control  d-inline-block" type="text"
                        placeholder="Nhập mã hồ sơ" />
                      <!-- <input id="ngx-filter-ref" class="form-control  d-inline-block" type="text" (keyup)="filterUpdate($event)" placeholder="Tìm kiếm theo từ khóa ..." /> -->
                    </div>
                    <div class="col-md-3">
                      <label for="invalid-state">Loại phiếu: </label>
                      <ng-select [items]="listLoaiPhieu" bindLabel="text" placeholder="--Loại phiếu--"
                        [(ngModel)]="selectedLoaiPhieu">
                      </ng-select>
                    </div>
                    <div class="col-md-3">
                      <label for="invalid-state">Từ ngày: </label>
                      <div class="input-group" style="margin-bottom: 5px;">
                        <input class="form-control" placeholder="dd/mm/yyyy" name="dp" [(ngModel)]="tungay"
                          ngbDatepicker #d1="ngbDatepicker" style="align-content: center; ">
                        <div class="input-group-append">
                          <div class="input-group-text" (click)="d1.toggle()">
                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <label for="invalid-state">Đến ngày: </label>
                      <div class="input-group" style="margin-bottom: 5px;">
                        <input class="form-control" placeholder="dd/mm/yyyy" name="dp" [(ngModel)]="denngay"
                          ngbDatepicker #d2="ngbDatepicker" style="align-content: center; ">
                        <div class="input-group-append">
                          <div class="input-group-text" (click)="d2.toggle()">
                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 padding-top-15">
                    <div class="text-center">
                      <button type="button" id="btntimkiem" class="btn btn-info mr-1 mb-1" (click)="timKiemHoSo()"><i
                          class="ft-search"></i> Tìm
                        kiếm</button>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ngx-datatable class="bootstrap core-bootstrap" [rows]="rows" [columnMode]="ColumnMode.force"
                  [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarH]="false" [externalPaging]="true"
                  [(count)]="page.totalCount" [(offset)]="page.pageIndex" [(limit)]="page.pageSize"
                  (page)="setPage($event)">
                  <!-- <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                        <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
                                            </div>
                                        </ng-template>
                                        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column> -->
                  <!-- <ngx-datatable-column name="Id" prop="id" [minWidth]="5" [width]="70" [canAutoResize]="false"></ngx-datatable-column> -->
                  <ngx-datatable-column name="Mã hồ sơ khai thác" prop="maHoSoKhaiThac">
                    <ng-template ngx-datatable-cell-template let-row="row" let-maHoSoKhaiThac="value">
                      <!-- <a (click)="viewDetailRequest(row.id)"><span>{{maHoSoKhaiThac}}</span></a> -->
                      <a class="data-link" href="javascript:;" (click)="viewDetailRequest(row.id)">
                        {{maHoSoKhaiThac}}
                      </a>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Người lập hồ sơ" prop="hoTenNguoiLapHoSo"></ngx-datatable-column>
                  <ngx-datatable-column name="Ngày mượn" prop="ngayMuon">
                    <ng-template ngx-datatable-cell-template let-ngayMuon="value">
                      <span>{{convertDateServerToString(ngayMuon, 'DD/MM/YYYY')}}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Ngày hẹn trả" prop="ngayHenTra">
                    <ng-template ngx-datatable-cell-template let-ngayHenTra="value">
                      <span>{{convertDateServerToString(ngayHenTra, 'DD/MM/YYYY')}}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Hành động" [width]="150" [canAutoResize]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div class="actions-custom">
                        <i class="ft-eye text-primary cursor-pointer mr-2 icon-larger"
                          (click)="viewDetailRequest(row.id)" ngbTooltip="Xem hồ sơ"></i>
                        <i class="ft-check text-success cursor-pointer mr-2 icon-larger"
                          (click)="approveRequest(row.id)" ngbTooltip="Duyệt hồ sơ"></i>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Custom Checkbox Datatables -->
