<!-- <div class="row">
      <div class="col-8" style="padding-right: 0px;">
          <div class="content-header" style="background-color: purple;color: white; padding-right: 0px;"> Thông tin chi tiết hồ sơ quét</div>
      </div>
      <div class="col-4" style="padding-left: 0px;">
          <div class="content-header" style="background-color: purple;color: white;padding-left: 0px;"> Trạng thái: {{status}}</div>
      </div>
  </div> -->
<div class="row">
  <div class="col-8">
    <h4>Thông tin chi tiết hồ sơ quét</h4>
  </div>

</div>
<section class="users-view">
  <div class="row">
    <div class="col-12">
      <!-- Card data starts -->
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12" *ngFor="let item of listInfoThuaDat">
                <!-- <div class="row">
                    <div class="col-md-12 text-right">
                      <h4>Trạng thái: {{status}}</h4>
                    </div>
                  </div> -->
                <div class="row">
                  <div class="col-md-3">
                    <b class="mb-0">{{item.value}}</b>
                  </div>
                  <div class="col-md-9">
                    <p class="mb-0"><span class="{{item.css}}">{{item.data}}</span></p>
                  </div>
                </div>
                <hr class="m-b-t-15">

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12" *ngFor="let item of listInfoChuSuDung">
                <!-- <div class="row">
                    <div class="col-md-12 text-right">
                      <h4>Trạng thái: {{status}}</h4>
                    </div>
                  </div> -->
                <div class="row">
                  <div class="col-md-3">
                    <b class="mb-0">{{item.value}}</b>
                  </div>
                  <div class="col-md-9">
                    <p class="mb-0"><span class="{{item.css}}">{{item.data}}</span></p>
                  </div>
                </div>
                <hr class="m-b-t-15">

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12" *ngFor="let item of listInfoGCN">
                <!-- <div class="row">
                    <div class="col-md-12 text-right">
                      <h4>Trạng thái: {{status}}</h4>
                    </div>
                  </div> -->
                <div class="row">
                  <div class="col-md-3">
                    <b class="mb-0">{{item.value}}</b>
                  </div>
                  <div class="col-md-9">
                    <p class="mb-0"><span class="{{item.css}}">{{item.data}}</span></p>
                  </div>
                </div>
                <hr class="m-b-t-15">

              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Card data ends -->
    </div>

  </div>
</section>