<div #ref class="diagram-container"></div>
<div class="bpmn-zoom-controls">
  <ul style="list-style: none;">
    <li>
      <button class="btn btn-outline-dark btn-icon round" (click)="zoomIn()" title="Phóng to">
        <i class="fa fa-search-plus"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-outline-dark btn-icon round" (click)="zoomOut()" title="Thu nhỏ">
        <i class="fa fa-search-minus"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-outline-dark btn-icon round" (click)="resetZoom()" title="Hiển thị mặc định">
        <i class="fa fa-refresh"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-outline-dark btn-icon round" (click)="saveXml()" title="Export tệp tin Bpmn">
        <i class="fa fa-save"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-outline-dark btn-icon round" (click)="savePNG()" title="Export tệp tin PNG">
        <i class="fa fa-image" style="width:12px; height:12px"></i>
      </button>
    </li>
  </ul>
</div>
