.text-center {
  text-align: center;
}

.padding-bot-15 {
  padding-bottom: 15px;
}

.data-link {
  color: #C76932;
}

.icon-larger {
  border: 2px solid #E0E0E0;
  border-radius: 8px;
  padding: 5px;
}
