<div [formGroup]="formGroup" class="form-group">
    <label for="{{config.name}}">
        {{ config.label }}
        <ng-container *ngIf="showAsterisk(config)">
            <span class="field-required-asterisk">(*)</span>
        </ng-container>
    </label>
    <ng-select customFormControl placeholder="{{ config.placeholder || 'Chọn giá trị...' }}" [(ngModel)]="selectedValue" (ngModelChange)="onChange(selectedValue)" [formControlName]="config.name" [id]="config.name">
        <ng-option *ngFor="let opt of config.options" [value]="opt.key" [selected]="opt.selected === true">{{opt.value}}</ng-option>
    </ng-select>
    


    <div appFormFieldError class="invalid-feedback" [fieldConfig]="config"></div>

</div>