
<div class="btn-control">
  <button class="btn btn-outline-dark btn-icon" (click)="load()" title="Tạo mới quy trình">
    <i class="fa fa-plus-circle"></i>
  </button>

  <label class="btn btn-outline-dark btn-icon " for='fileImport' title="Tải file Bpmn" style="margin-bottom: 0px;"><i class="fa fa-arrow-circle-o-up"></i></label>
  <input type="file" id="fileImport" multiple hidden (change)="fileProgress($event)" onclick="value = null" accept=".bpmn, .xml" >
  <button class="btn btn-outline-dark btn-icon " (click)="saveXml()" title="Tải tệp tin Bpmn">
    <i class="fa fa-save"></i>
  </button>
</div>
<div class="bpmn-zoom-controls">
  <ul style="list-style: none;">
    <li>
      <button class="btn btn-outline-dark btn-icon round" (click)="zoomIn()" title="Phóng to">
        <i class="fa fa-search-plus"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-outline-dark btn-icon round" (click)="zoomOut()" title="Thu nhỏ">
        <i class="fa fa-search-minus"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-outline-dark btn-icon round" (click)="resetZoom()" title="Hiển thị mặc định">
        <i class="fa fa-refresh"></i>
      </button>
    </li>
  </ul>
</div>


<div class="modeler">
  <div id="canvas" #canvas></div>
  <div class="properties-panel" id="properties"></div>
</div>
