.properties-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 250px;
  z-index: 10;
  border-left: 1px solid #ccc;
  overflow: auto;
}

.properties-panel:empty {
  display: none;
}

.properties-panel > .djs-properties-panel {
  padding-bottom: 70px;
  min-height: 100%;
}

.bpmn-zoom-controls {
  width: auto;
  position: absolute;
  right: 270px;
  bottom: 10px;
  z-index: 2;
  border-radius: 2px;
  list-style: none;
  // padding: 5px 5px 0 5px;
  margin: 0;
}

.bjs-container {
  min-height: 700px;
}

